<% unless locals.empty? %>
  <%= message %>
<% end %>

<h1>View All Your Posts Below</h1>

<% @posts.each do |post| %>

<h4>Author: <%= post.user.username %></h4>

<h4>Title: <a href="/posts/<%=post.id%>"><%=post.title%></a></h4>

<p>Content: <%=post.content%></p>

<p>--------------------------------------------------</p>

<% end %>

<a href='/posts/new'>New Post</a>
<br />
<a href="/logout">Logout</a>
